@import "tailwindcss";

@config "../../tailwind.config.js";

* {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

/* Arrow animation transform origin */
.hws_brand_arrow {
    transform-origin: 250px 420px;
}

